@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

$white-color: #EBE4D6;
$orange-color: #F2994A;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}
.footer{
    background: rgb(255,0,0);
    background: linear-gradient(50deg, rgba(255,0,0,1) 0%, rgba(94,23,82,1) 56%);
    // background: rgb(141,29,28);
    // background: linear-gradient(90deg, rgba(141,29,28,1) 0%, rgba(46,45,51,1) 56%);
    height: 330px;
    display: flex;
    flex-direction: column;
}
.top-part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
.footer-container{
    width: 1200px;
    padding-left: 80px;
}
.logo-block, .logo-block-title{
    display: flex;
    align-items: center;
    img{
        margin-right: 20px;
    }
}
.logo-block-title{
    p, span{
        font-size: 18px;
    }
    p{
        color: $white-color;
        font-weight: 500;
        margin-right: 5px;
    }
    span{
        font-weight: 900;
        color: $orange-color;
    }
}
.logo-block-text > p{
        text-align: right;
        font-size: 14px;
        color: $white-color;
}
.phone-email{
    display: flex;
    flex-direction: column;
}
.block{
    display: flex;
    align-items: center;
    p{
        color: $white-color;
        margin-bottom: 2px;
    }
}
.block-text{
    margin: 0 20px 0 20px;
}
.phone-email{
    img{
        margin-top: 10px;
    }
}
.vertical-line{
    border-right: 1px solid $white-color;
    height: 73px;
    opacity: 0.5;
}
.horizontal-line{
    border-bottom: 1px solid $white-color;
    width: 95%;
    opacity: 0.5;
    margin: 20px auto;
}
.bottom-part{
    display: flex;
    justify-content: space-evenly;
}
.ownership{
    p{
        font-size: 12px;
        font-weight: 500;
        color: $orange-color;
    }
}
.copyright1{
    width: 43.8%;
    p{
        color: $white-color;
        font-size: 12px;
        font-weight: 300;
    }
}
.copyright2{
    p{
        font-size: 12px;
        font-weight: 300;
        color: $orange-color;
    }
}
.logo-r2s{
    align-self: flex-end;
    margin-right: 5%;
}
